## 1. DBconnector.py & setting.py

In [1]:
from db.connector import DBconnector
from settings import DB_SETTINGS

In [2]:
DB_SETTINGS["POSTGRES"]

{'engine': 'postgresql',
 'orm_engine': 'postgresql',
 'host': '127.0.0.1',
 'database': 'postgres',
 'user': 'postgres',
 'password': '1234',
 'port': '5432'}

In [3]:
DB_SETTINGS["MYSQL"]

{'engine': 'mysql',
 'orm_engine': 'mysql+mysqlconnector',
 'host': '127.0.0.1',
 'port': '3307',
 'user': 'root',
 'password': '1234',
 'database': 'mysql'}

In [4]:
from db.connector import DBconnector
from settings import DB_SETTINGS

db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])

with db_connector as connected:
    conn = connected.conn
    cursor = conn.cursor()

    cursor.execute("SELECT * FROM lecture")
    print(cursor.fetchall())

접속
[(0, 0, 6, 'Margaret', 1880, 'F', 1578), (1, 1, 7, 'Ida', 1880, 'F', 1472), (2, 2, 8, 'Alice', 1880, 'F', 1414), (3, 3, 9, 'Bertha', 1880, 'F', 1320), (4, 4, 10, 'Sarah', 1880, 'F', 1288), (5, 5, 11, 'Annie', 1880, 'F', 1258), (6, 6, 12, 'Clara', 1880, 'F', 1226), (7, 7, 13, 'Ella', 1880, 'F', 1156), (8, 8, 14, 'Florence', 1880, 'F', 1063), (9, 9, 15, 'Cora', 1880, 'F', 1045), (10, 10, 16, 'Martha', 1880, 'F', 1040), (11, 11, 17, 'Laura', 1880, 'F', 1012), (12, 12, 18, 'Nellie', 1880, 'F', 995), (13, 13, 19, 'Grace', 1880, 'F', 982), (14, 14, 20, 'Carrie', 1880, 'F', 949), (15, 15, 21, 'Maude', 1880, 'F', 858), (16, 16, 22, 'Mabel', 1880, 'F', 808), (17, 17, 23, 'Bessie', 1880, 'F', 796), (18, 18, 24, 'Jennie', 1880, 'F', 793), (19, 19, 25, 'Gertrude', 1880, 'F', 787), (20, 20, 26, 'Julia', 1880, 'F', 783), (21, 21, 27, 'Hattie', 1880, 'F', 769), (22, 22, 28, 'Edith', 1880, 'F', 768), (23, 23, 29, 'Mattie', 1880, 'F', 704), (24, 24, 30, 'Rose', 1880, 'F', 700), (25, 25, 31, 'Catherine', 1880, 'F', 688), (26, 26, 32, 'Lillian', 1880, 'F', 672), (27, 27, 33, 'Ada', 1880, 'F', 652), (28, 28, 34, 'Lillie', 1880, 'F', 647), (29, 29, 35, 'Helen', 1880, 'F', 636), (30, 30, 36, 'Jessie', 1880, 'F', 635), (31, 31, 37, 'Louise', 1880, 'F', 635), (32, 32, 38, 'Ethel', 1880, 'F', 633), (33, 33, 39, 'Lula', 1880, 'F', 621), (34, 34, 40, 'Myrtle', 1880, 'F', 615), (35, 35, 41, 'Eva', 1880, 'F', 614), (36, 36, 42, 'Frances', 1880, 'F', 605), (37, 37, 43, 'Lena', 1880, 'F', 603), (38, 38, 44, 'Lucy', 1880, 'F', 590), (39, 39, 45, 'Edna', 1880, 'F', 588), (40, 40, 46, 'Maggie', 1880, 'F', 582), (41, 41, 47, 'Pearl', 1880, 'F', 569), (42, 42, 48, 'Daisy', 1880, 'F', 564), (43, 43, 49, 'Fannie', 1880, 'F', 560), (44, 44, 50, 'Josephine', 1880, 'F', 544)]
종료

In [5]:
from db.connector import DBconnector
from settings import DB_SETTINGS

db_connector = DBconnector(**DB_SETTINGS["MYSQL"])

with db_connector as connected:
    conn = connected.conn
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM lecture LiMIT 5")
    print(cursor.fetchall())

접속
[(0, 0, 1, 'Mary', 1880, 'F', 7065), (1, 1, 2, 'Anna', 1880, 'F', 2604), (2, 2, 3, 'Emma', 1880, 'F', 2003), (3, 3, 4, 'Elizabeth', 1880, 'F', 1939), (4, 4, 5, 'Minnie', 1880, 'F', 1746)]
종료

In [6]:
import os

os.getcwd()

'c:\\Users\\user\\Desktop\\Chunjae_edu\\11_Engineering\\DAY2'

In [7]:
import sys

sys.path.append(r"c:\\Users\\user\\Desktop\\Memo\\1028\\천재교육\\DAY2")

## 2. query.py

    - 쿼리들은 파일로 관리하여 쉽게 호출할 수 있도록 작성

### 쿼리 내용 조회하는 부분을 class 내에 통합

In [6]:
import psycopg2
import db.pgsql_query as postgresql_qurey
from settings import DB_SETTINGS

In [7]:
class DBconnector:
    def __init__(self, host, database, user, password, port):
        self.conn_params = dict(
            host=host, dbname=database, user=user, password=password, port=port
        )

        self.connect = self.postgres_connect()
        self.queries = postgresql_qurey.queries

    def __enter__(self):
        print("Enter")
        return self

    def __exit__(self, exe_type, exe_value, traceback):
        self.conn.close()
        print("Exit")

    def postgres_connect(self):
        self.conn = psycopg2.connect(**self.conn_params)
        return self

    def get_query(self, table_name):
        try:
            _query = self.queries[table_name]
            return _query
        except KeyError:
            raise KeyError(
                f"'{table_name}' 키가 queries 에 존재하지 않습니다. 현재 있는 키 리스트 : {list(self.queries.keys)}"
            )

In [8]:
db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])

db_connector.get_query("lecture")

'SELECT * FROM lecture'

In [11]:
db_connector = DBconnector(**DB_SETTINGS["MYSQL"])

db_connector.get_query("lecture")

'SELECT * FROM lecture'

In [8]:
from db.pgsql_query import queries

for tbl in queries.keys():
    db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])
    _query = db_connector.get_query(tbl)
    print(_query)

SELECT * FROM lecture
SELECT * FROM tbl LIMIT 5

In [12]:
from db.pgsql_query import queries

for tbl in queries.keys():
    db_connector = DBconnector(**DB_SETTINGS["MYSQL"])
    _query = db_connector.get_query(tbl)
    print(_query)

SELECT * FROM lecture
SELECT * FROM tbl LIMIT 5

## extract.py
- 쿼리를 받아 DB에 조회하여 결과를 pandas dataframe으로 변환

In [10]:
from db.connector import DBconnector
from settings import DB_SETTINGS
import pandas as pd

In [15]:
db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])

with db_connector as connected:
    _query = db_connector.get_query("lecture")
    con = connected.conn
    df = pd.read_sql(_query, con)

print(df), print(type(df))

Enter
Exit
    id       name  year gender  count
0    6   Margaret  1880      F   1578
1    7        Ida  1880      F   1472
2    8      Alice  1880      F   1414
3    9     Bertha  1880      F   1320
4   10      Sarah  1880      F   1288
5   11      Annie  1880      F   1258
6   12      Clara  1880      F   1226
7   13       Ella  1880      F   1156
8   14   Florence  1880      F   1063
9   15       Cora  1880      F   1045
10  16     Martha  1880      F   1040
11  17      Laura  1880      F   1012
12  18     Nellie  1880      F    995
13  19      Grace  1880      F    982
14  20     Carrie  1880      F    949
15  21      Maude  1880      F    858
16  22      Mabel  1880      F    808
17  23     Bessie  1880      F    796
18  24     Jennie  1880      F    793
19  25   Gertrude  1880      F    787
20  26      Julia  1880      F    783
21  27     Hattie  1880      F    769
22  28      Edith  1880      F    768
23  29     Mattie  1880      F    704
24  30       Rose  1880      F    700
25  31  Catherine  1880      F    688
26  32    Lillian  1880      F    672
27  33        Ada  1880      F    652
28  34     Lillie  1880      F    647
29  35      Helen  1880      F    636
30  36     Jessie  1880      F    635
31  37     Louise  1880      F    635
32  38      Ethel  1880      F    633
33  39       Lula  1880      F    621
34  40     Myrtle  1880      F    615
35  41        Eva  1880      F    614
36  42    Frances  1880      F    605
37  43       Lena  1880      F    603
38  44       Lucy  1880      F    590
39  45       Edna  1880      F    588
40  46     Maggie  1880      F    582
41  47      Pearl  1880      F    569
42  48      Daisy  1880      F    564
43  49     Fannie  1880      F    560
44  50  Josephine  1880      F    544
<class 'pandas.core.frame.DataFrame'>

C:\Users\user\AppData\Local\Temp\ipykernel_22868\602862886.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, con)

(None, None)

In [12]:
def extractor(db_connector, table_name):
    with db_connector as connected:
        try:
            _query = connected.get_query(table_name)
            con = connected.conn
            df = pd.read_sql(_query, con)
            return df
        except Exception as e:
            print(f"Extract MSG: {e}")
            return False

In [13]:
db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])

return_extractor = extractor(db_connector, "lecture")
return_extractor.head()

Enter
Exit

C:\Users\user\AppData\Local\Temp\ipykernel_18896\3118118505.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, con)

   id      name  year gender  count
0   6  Margaret  1880      F   1578
1   7       Ida  1880      F   1472
2   8     Alice  1880      F   1414
3   9    Bertha  1880      F   1320
4  10     Sarah  1880      F   1288

### 4. transform.py

- Batch 날짜별 저장 경로 생성 및 해당 경로 이하에 df 저장
- 이행 환경에 따라 다르게 구성될 수 있음
    - Database -> Stragins Server -> Cloud/Database
    - Database -- Directory Connection -> Cloud/Database

- 목적지 database의 성격에 따라 추가적인 처리 함수가 포함될 수 있음.
    - Data Lake -> 거의 가공 없이 이행
    - Data Warehouse -> 결측치/ 공백 등 간단한 전처리를 거쳐 이행
    - Data Mart -> Group by/filter 등 성격에 맞는 데이터 처리를 거쳐 이행

#### 1) 저장 경로 생성
- Database 이름/ table 이름 / yyyy={}/ mm = {}/ dd = {}/ {table_name}.csv

In [6]:
import pandas as pd

from db.connector import DBconnector
from settings import DB_SETTINGS
from pipeline.extract import extractor


db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])
table_name = "lecture"

return_extractor = extractor(db_connector, table_name)
# return_extractor.head()
if isinstance(return_extractor, pd.DataFrame):
    print(return_extractor.head())

else:
    print("데이터를 가져오지 못했습니다.")

Enter
Exit
   id      name  year gender  count
0   6  Margaret  1880      F   1578
1   7       Ida  1880      F   1472
2   8     Alice  1880      F   1414
3   9    Bertha  1880      F   1320
4  10     Sarah  1880      F   1288

c:\Users\user\Desktop\Memo\1028\천재교육\DAY2\pipeline\extract.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, con)

In [7]:
# Batch 날짜 설정

from datetime import datetime

batch_date = datetime.now()
format_date = batch_date.strftime("%Y%m%d")

_y = format_date[:4]
_m = format_date[4:6]
_d = format_date[6:]

In [8]:
f"{batch_date:%Y}", f"{batch_date:%m}", f"{batch_date:%d}"

('2024', '10', '28')

In [9]:
import os

temp_path = "c:\\Users\\user\\Desktop\\Memo\\1028\\천재교육\\DAY2\\temp_storage"

_path = os.path.join(temp_path, "postgres", "lecture")
_path

'c:\\Users\\user\\Desktop\\Memo\\1028\\천재교육\\DAY2\\temp_storage\\postgres\\lecture'

In [18]:
os.getcwd()

'c:\\Users\\user\\Desktop\\Memo\\1028\\천재교육\\DAY2'

#### 2) pandas dataframe을 csv/parquet 형태로 저장

In [10]:
from datetime import datetime

batch_date = datetime.now().strftime("%Y%m%d")
temp_path = "c:\\Users\\user\\Desktop\\Memo\\1028\\천재교육\\DAY2\\temp_storage"


def create_path(temp_path, batch_date):
    _y = format_date[:4]
    _m = format_date[4:6]
    _d = format_date[6:]

    return _path

In [12]:
# 저장 폴더 생성

path = create_path(temp_path, batch_date)
os.makedirs(path, mode=777, exist_ok=True)

In [18]:
# CSV format
save_path = os.path.join(path, "lecture.csv")
save_path

df.to_csv(save_path)

In [29]:
# JSON format
save_path = os.path.join(path, "lecture.json")
save_path

df.to_json(save_path, orient="records", indent=4, force_ascii=False)

In [20]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\user\anaconda3\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\user\anaconda3\lib\site-packages (from pyarrow) (1.26.4)

In [21]:
# parguet format

save_path = os.path.join(path, "lecture.parquet")
save_path

df.to_parquet(save_path, engine="pyarrow", compression="gzip", index=False)

ImportError: Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.

In [23]:
def save_to_file(df, path, table_name):
    if len(df) > 0:
        os.makedirs(path, mode=777)
        save_path = os.path.join(path, f"{table_name}.csv")

        df.to_csv(save_path)
        return True

    else:
        print("EMPTY FILE")
        return False

In [24]:
save_to_file(df, path, table_name)

True

#### 저장 경로 생성 + DataFrame 저장 함수 통합

In [26]:
# transformer(create_path + save_to_file) 함수


def transformer(temp_path, batch_date, df, table_name):
    path = create_path(temp_path, batch_date)
    res = save_to_file(df, path, table_name)

    return res

In [27]:
transformer(temp_path, batch_date, df, table_name)

True

In [1]:
from db.connector import DBconnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from datetime import datetime

In [2]:
db_connector = DBconnector(**DB_SETTINGS["MYSQL"])
table_name = "lecture"
batch_date = datetime.now().strftime("%Y%m%d")
# print(batch_date)

return_extractor = extractor(db_connector, table_name)
return_extractor

if return_extractor is not None and not return_extractor.empty:
    retrun_transformer = transformer(
        TEMP_PATH, batch_date, return_extractor, table_name
    )

else:
    print("DataFrame이 비었거나 데이터추출에 실패했습니다.")

Enter
Exit

c:\Users\user\Desktop\Chunjae_edu\11_Engineering\DAY2\pipeline\extract.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, con)

### 5. load.py
- 저장된 파일을 특정한 저장소에 적재

#### 1) pandas to_sql() 메소드를 활용한 테이블 적재(Local File -> Database)

In [2]:
from sqlalchemy import create_engine

engine = "postgresql"
user = "postgres"
password = "1234"
host = "127.0.0.1"
port = "5432"
database = "postgres"

db = create_engine(f"{engine}://{user}:{password}@{host}:{port}/{database}")

db

Engine(postgresql://postgres:***@127.0.0.1:5432/postgres)

In [3]:
import pandas as pd

df = pd.read_csv("./dataset/data-01/names.csv")
df

        id       name  year gender  count
0        1       Mary  1880      F   7065
1        2       Anna  1880      F   2604
2        3       Emma  1880      F   2003
3        4  Elizabeth  1880      F   1939
4        5     Minnie  1880      F   1746
...    ...        ...   ...    ...    ...
1995  1996     Woodie  1880      M      5
1996  1997     Worthy  1880      M      5
1997  1998     Wright  1880      M      5
1998  1999       York  1880      M      5
1999  2000  Zachariah  1880      M      5

[2000 rows x 5 columns]

In [6]:
df.dtypes

id         int64
name      object
year       int64
gender    object
count      int64
dtype: object

In [4]:
df.to_sql(name="point", con=db, if_exists="replace")

1000

In [5]:
def loader(db_connector, db, table_name):
    with db_connector as connected:
        try:
            orm_conn = connected.orm_conn
            df.to_sql(name=table_name, con=orm_conn, if_exists="replace")
            return True

        except Exception as e:
            print(f"loader Error MSG: {e}")
            return False

In [16]:
!pip install --upgrade pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (1.4.54)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 1.6 MB/s eta 0:00:08
   ------ --------------------------------- 1.9/11.5 MB 24.3 MB/s eta 0:00:01
   ---------------------- ----------------- 6.5/11.5 MB 52.3 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.5 MB 108.8 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 81.8 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 64.9 MB/s eta 0:00:00
Installing collected packages: sqlalchemy, pandas
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.54
    Uninstalling SQLAlchemy-1.4.54:
      Successfully uninstalled SQLAlchemy-1.4.54
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-2.2.3 sqlalchemy-2.0.36

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\user\anaconda3\Lib\site-packages\~qlalchemy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dataset 1.6.2 requires sqlalchemy<2.0.0,>=1.3.2, but you have sqlalchemy 2.0.36 which is incompatible.

In [1]:
import pandas as pd
from db.connector import DBconnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from pipeline.load import loader
from datetime import datetime

In [3]:
db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])
table_name = "lecture"
batch_date = datetime.now().strftime("%Y%m%d")

return_extractor = extractor(db_connector, table_name)
# return_extractor

if return_extractor is not None and not return_extractor.empty:
    return_transformer = transformer(
        TEMP_PATH, batch_date, return_extractor, table_name
    )
# return_transformer

if return_extractor is not None and not return_extractor.empty:
    return_loader = loader(db_connector, return_transformer, table_name)

Enter
Exit
Enter
loader Error MSG: 'bool' object has no attribute 'to_sql'
Exit

In [5]:
import shutil, os
from settings import TEMP_PATH

shutil.rmtree(TEMP_PATH)

os.makedirs(TEMP_PATH)

In [ ]:
# remover


def remover(path):
    try:
        shutil.rmtree(path)
        os.makedirs(path)
        return True
    except Exception as e:
        print(f"Remover Error MSG: {e}")
        return False

In [1]:
import pandas as pd
from db.connector import DBconnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from pipeline.load import loader
from pipeline.remove import remover
from datetime import datetime

In [3]:
db_connector = DBconnector(**DB_SETTINGS["MYSQL"])
table_name = "lecture"
batch_date = datetime.now().strftime("%Y%m%d")

return_extractor = extractor(db_connector, table_name)

if return_extractor is not None and not return_extractor.empty:
    return_transformer = transformer(
        TEMP_PATH, batch_date, return_extractor, table_name
    )

if return_transformer is not None and not return_transformer.empty:
    return_loader = loader(db_connector, return_transformer, table_name)

Enter
Exit
Enter

c:\Users\user\Desktop\Chunjae_edu\11_Engineering\DAY2\pipeline\extract.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, con)

Exit

In [2]:
remover(TEMP_PATH)

True

### 6. Controller
- extractor, transformer 등 개별 모듈들에 대하여 순서대로 명령을 내려주는 파일

In [40]:
def controller():
    """
    1. DBconnector >> DB Connector 생성
    2. postgresql_query >> queries 에서 테이블 이름 목록(table_list) 받아오기
        ex)
            for tbl in table_list:

    3. extract >> DB 조회 후 DataFrame 형태로 변환
    4. transform >> 저장 경로 생성 후 임시 저장 디렉토리 아래에 dataframe 저장
    5. load >> 저장소에 dataframe 파일 저장
    6. remove >> 저장이 끝난 후 임시 저장 디렉토리 삭제
    """

In [1]:
from db.connector import DBconnector
from db.pgsql_query import queries
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from pipeline.load import loader
from pipeline.remove import remover

In [7]:
# controller

batch_date = "20230416"


def controller(batch_date):
    db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])

    for table_name in queries:
        pandas_df = extractor(db_connector, table_name)
        res = transformer(TEMP_PATH, batch_date, pandas_df, table_name)
        # print(res)
        if res is not None and not res.empty:
            db_connector = DBconnector(**DB_SETTINGS["POSTGRES"])
            loader(db_connector, pandas_df, table_name)


controller(batch_date)

Enter
Exit
Enter
Exit

c:\Users\user\Desktop\Chunjae_edu\11_Engineering\DAY2\pipeline\extract.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, con)

---

## 1029 실습

#### 1) FAKE 데이터 생성

In [10]:
from faker import Faker

In [11]:
fake = Faker("ko_KR")

fake.profile()

{'job': '화학물 가공장치 조작원',
 'company': '(주) 송김김',
 'ssn': '010620-2310563',
 'residence': '제주특별자치도 여주시 삼성길 (정호최유마을)',
 'current_location': (Decimal('60.878171'), Decimal('125.505658')),
 'blood_group': 'A-',
 'website': ['http://gimgim.kr/',
  'https://songweon.org/',
  'https://jiu.com/',
  'http://janggimgim.kr/'],
 'username': 'siu48',
 'name': '윤정수',
 'sex': 'M',
 'address': '부산광역시 동작구 개포거리',
 'mail': 'yejin66@daum.net',
 'birthdate': datetime.date(1954, 9, 2)}

In [13]:
key_list = ["name", "ssn", "job", "residence", "blood_group", "sex", "birthdate"]

fake_profile = fake.profile()
fake_dict = dict()

for key in key_list:
    fake_dict[key] = fake_profile[key]
fake_dict

{'name': '김예은',
 'ssn': '950019-2063352',
 'job': '무역 사무원',
 'residence': '대전광역시 동구 서초중앙거리',
 'blood_group': 'O-',
 'sex': 'F',
 'birthdate': datetime.date(2000, 6, 3)}

In [18]:
import uuid

uuid.uuid4()

UUID('a7334796-75ce-4b5c-b256-c49fd314ec22')

In [24]:
import shortuuid

fake_dict["uuid"] = shortuuid.uuid()

fake_dict

{'name': '김예은',
 'ssn': '950019-2063352',
 'job': '무역 사무원',
 'residence': '대전광역시 동구 서초중앙거리',
 'blood_group': 'O-',
 'sex': 'F',
 'birthdate': datetime.date(2000, 6, 3),
 'uuid': 'd2qg5uDAjerqLFh4LCJ94N'}

In [8]:
from faker import Faker
import shortuuid


def create_fakeuser() -> dict:
    fake = Faker("ko_KR")
    fake_profile = fake.profile()
    key_list = ["name", "ssn", "job", "residence", "blood_group", "sex", "birthdate"]

    fake_dict = {}

    for key in key_list:
        fake_dict[key] = fake_profile[key]

    fake_dict["uuid"] = shortuuid.uuid()
    fake_dict["birthdate"] = fake_dict["birthdate"].strftime("%Y%m%d")

    return fake_dict

In [5]:
create_fakeuser()

{'name': '이정수',
 'ssn': '220629-1296982',
 'job': '선장/항해사 및 도선사',
 'residence': '부산광역시 마포구 서초대8길',
 'blood_group': 'AB+',
 'sex': 'M',
 'birthdate': '19540314',
 'uuid': 'fk22kkeGJRK57cgVwk4zxP'}

#### 2) Fake DataFrame 저장

In [27]:
def func():
    return a, b


name, _ = func()

In [30]:
# list comprehension
temp_list = []
for i in range(10):
    temp_list.append(i)

temp_list = [i for i in range(10)]
temp_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
import pandas as pd
from random import randint

count = randint(5, 15)

sample_data = [create_fakeuser() for _ in range(count)]
pd.DataFrame(sample_data)

,name,ssn,job,residence,blood_group,sex,birthdate,uuid
0,양경자,860123-2999929,모피 및 가죽의복 제조원,서울특별시 서초구 테헤란로,AB+,F,19790620,Vy5TewJEJdZEZgWbVdBnSp
1,이성진,190511-1377985,대학 시간강사,서울특별시 강북구 테헤란길 (정남김최마을),A+,M,19340109,njuTJrNobUcY5qkF3RAgD2
2,조진호,890126-2277043,전산 자료 입력원 및 사무 보조원,광주광역시 강서구 양재천21거리 (영순김읍),AB-,M,20190808,hNz77Cnah9cEid9ZW474KF
3,문현주,580127-2053475,기타 종교관련 종사자,전라남도 안양시 동안구 백제고분021거리 (지훈양이마을),B-,F,19811129,EpYPywow6WPhLMCv2EMuc3
4,허수빈,020300-1302539,기타 미용관련 서비스 종사원,제주특별자치도 성남시 중원구 도산대거리,AB-,F,19640615,2PmQkaxEctsT5haZ4kLbp6
5,조성훈,740311-2237837,애완동물 미용사,충청북도 김포시 삼성거리,AB+,M,19110426,FHWiyq8aUFFxhPJSPFXgf2
6,진윤서,000912-2000411,전자공학 기술자 및 연구원,울산광역시 동대문구 테헤란가 (경숙양안면),B-,F,20240918,5Mj2do7arVNA4U48egth3p
7,심정희,930014-2950045,여행 및 관광통역 안내원,울산광역시 도봉구 영동대287로,AB-,F,19920328,RAX4KTrDGLeZRrLBseTW4m
8,최영철,290529-2582502,우편물 집배원,강원도 강릉시 봉은사길 (성호안동),AB-,M,20210823,5afb3iY9EyyiiZzdPUbQsT
9,서영일,070820-2527851,자동조립라인 및 산업용 로봇 조작원,강원도 용인시 기흥구 개포길 (영순이나읍),AB+,M,19270613,nNcPUMEQwnFKTcDBmsnBJW
10,김광수,740104-2851812,교육 관리자,경상북도 삼척시 테헤란603로,O+,M,19090822,3PRzDHUicoKSippriWLQaG
11,박예지,060705-1673671,촬영기사,경상북도 김포시 강남대2길,A-,F,19870324,DSuvsFgjwN4ZuSXqdSMisV
12,오영일,850026-1064203,건축 석공,충청남도 천안시 동남구 영동대8로,O-,M,19900608,fF9N5fpA9bobszUvvv9xnt

### Fake data insert 함수

In [10]:
import pandas as pd
from random import randint

count = randint(5, 15)


def create_fakedataframe(count: int) -> pd.DataFrame:
    fake_data_list = [create_fakeuser() for _ in range(count)]  # 함수 호출을 추가
    return pd.DataFrame(fake_data_list)

In [2]:
from db.connector import DBconnector
from settings import DB_SETTINGS

pgsql_obj = DBconnector(**DB_SETTINGS["POSTGRES"])
pgsql_obj.__dict__

{'engine': 'postgresql',
 'orm_engine': 'postgresql',
 'conn_params': {'host': '127.0.0.1',
  'dbname': 'postgres',
  'user': 'postgres',
  'password': '1234',
  'port': '5432'},
 'orm_conn_params': 'postgresql+psycopg2://postgres:1234@127.0.0.1:5432/postgres',
 'orm_conn': Engine(postgresql+psycopg2://postgres:***@127.0.0.1:5432/postgres),
 'conn': <connection object at 0x0000022DAE9C7340; dsn: 'user=postgres password=xxx dbname=postgres host=127.0.0.1 port=5432', closed: 0>,
 'connect': <db.connector.DBconnector at 0x22dabcf0b00>,
 'queries': {'lecture': 'SELECT * FROM lecture'}}

In [11]:
import pandas as pd
from db.connector import DBconnector
from settings import DB_SETTINGS
from random import randint

count = randint(5, 15)
pgsql_obj = DBconnector(**DB_SETTINGS["POSTGRES"])

with pgsql_obj as connected:
    sqlalchemy_conn = connected.orm_connect()
    df = create_fakedataframe(count)
    df.to_sql(name="fake", con=sqlalchemy_conn, if_exists="replace", index=False)

접속
종료

In [12]:
from faker import Faker
import shortuuid


def create_fakeuser() -> dict:
    fake = Faker("ko_KR")
    fake_profile = fake.profile()
    key_list = ["name", "ssn", "job", "residence", "blood_group", "sex", "birthdate"]

    fake_dict = dict()

    for key in key_list:
        fake_dict[key] = fake_profile[key]

    fake_dict["uuid"] = shortuuid.uuid()
    fake_dict["birthdate"] = fake_dict["birthdate"].strftime("%Y%m%d")

    return fake_dict

In [13]:
for _ in range(10):
    fake_user = create_fakeuser()
    print(fake_user)

{'name': '최주원', 'ssn': '230428-1337172', 'job': '판금원', 'residence': '대전광역시 송파구 논현길 (도윤최면)', 'blood_group': 'AB-', 'sex': 'M', 'birthdate': '20040114', 'uuid': 'gSWCng9Cc3EtvR6hyx4XXi'}
{'name': '권성호', 'ssn': '490929-1699341', 'job': '경찰관', 'residence': '인천광역시 노원구 서초대78길', 'blood_group': 'O-', 'sex': 'M', 'birthdate': '19840122', 'uuid': 'cphtAbNC3FLYGwKPgDaVR3'}
{'name': '이미영', 'ssn': '030621-2051418', 'job': '재활용 처리 및 소각로 조작원', 'residence': '광주광역시 종로구 역삼거리 (하은강양마을)', 'blood_group': 'B+', 'sex': 'F', 'birthdate': '20080626', 'uuid': 'D9M9pfXyS6JaZAHbgNxLVB'}
{'name': '임상호', 'ssn': '610910-2651048', 'job': '물리 및 작업 치료사', 'residence': '대구광역시 남구 강남대거리 (종수이정마을)', 'blood_group': 'A-', 'sex': 'M', 'birthdate': '20110830', 'uuid': 'KE4vyBy6gmJTVjETm7MpVe'}
{'name': '백옥자', 'ssn': '030814-1355210', 'job': '물품 이동 장비 설치 및 정비원', 'residence': '서울특별시 동대문구 가락로 (순자김이면)', 'blood_group': 'A-', 'sex': 'F', 'birthdate': '19930405', 'uuid': 'SyaueE7UQz7oSDCcopKVtw'}
{'name': '이재호', 'ssn': '630406-1893522', 'job': '촬영기사', 'residence': '대구광역시 서초구 석촌호수3길 (정호이박마을)', 'blood_group': 'O+', 'sex': 'M', 'birthdate': '20110118', 'uuid': 'Eci2ViYVLYZsQf7sdsnqDs'}
{'name': '문예지', 'ssn': '090514-2196899', 'job': '영업 및 판매 관련 관리자', 'residence': '대전광역시 마포구 잠실길', 'blood_group': 'A+', 'sex': 'F', 'birthdate': '19551221', 'uuid': 'edp7GSJNKbmE9FnSnDgfCf'}
{'name': '한예은', 'ssn': '660923-1390981', 'job': '소년보호관 및 교도관', 'residence': '경상남도 안양시 동안구 석촌호수704길 (지민구마을)', 'blood_group': 'O-', 'sex': 'F', 'birthdate': '19390418', 'uuid': 'b6oKDgt9T7dA6KLysz9SG2'}
{'name': '송하윤', 'ssn': '210714-2839882', 'job': '의지보조기기사', 'residence': '경상남도 계룡시 도산대가 (경희이읍)', 'blood_group': 'AB-', 'sex': 'F', 'birthdate': '20010328', 'uuid': 'cWY4nPNYFBet88AbTomRkH'}
{'name': '이윤서', 'ssn': '550003-2012764', 'job': '시멘트 및 광물제품 제조기 조작원', 'residence': '부산광역시 동구 언주0로', 'blood_group': 'A-', 'sex': 'F', 'birthdate': '19940513', 'uuid': 'mPr45dLyvgcqEjSwsivpab'}

In [14]:
df = create_fakedataframe(count)
df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid
0,박하윤,550415-2549715,임상병리사,충청북도 공주시 언주8거리 (서연문면),A+,F,19721116,ewxjNsFWUvpBHq9nyEEkeu
1,고준호,540029-1371413,보건의료관련 관리자,전라북도 수원시 영통구 영동대54로,A+,M,19770322,aAFzDBPBgLFMXaRXhWTsru
2,오민지,770506-1122769,가사 도우미,경상남도 오산시 서초중앙로,B+,F,19300601,eG3qNGDSwTpQihPHVyfsi2
3,이영진,430412-1967577,영상 및 관련 장비 설치 및 수리원,대전광역시 구로구 서초중앙694거리 (정자박박리),AB-,M,20000707,TiuqFZvsje7fGzjCaLxj3S
4,최지연,180320-2201521,기타 판매 및 고객 서비스 관리자,대구광역시 동구 논현3거리,AB-,F,19360406,o7XNfQnShJUwZAvKHCekrt
5,김미영,390313-2927007,기타 제조관련 기계 조작원,세종특별자치시 구로구 서초중앙가 (상철이마을),AB-,F,19290801,e8YDTNKA4hzRryw2zK4vSS
6,허영수,940602-1604305,측량 및 지리정보 전문가,울산광역시 중구 양재천가 (서연지면),AB+,M,20100502,GKJ4xJocCkng3xUPQ8cSqg
7,임동현,240125-2995035,증권 및 외환 딜러,세종특별자치시 구로구 강남대거리,A-,M,19681019,fHTrSQHfzxkhi3yfyKwJaC
8,오영길,690716-1420411,조림/영림 및 벌목원,대전광역시 송파구 학동거리 (은서허조마을),AB-,M,20101014,2MB24rKvERSBnvCHdvZxN8
9,김광수,560907-1996627,단조원,세종특별자치시 광진구 테헤란13가,AB+,M,19910627,XaK4c2NjpzmYuTGBtGAAMo
10,김준호,980225-2542380,매장계산원 및 요금정산원,광주광역시 노원구 오금길,AB-,M,19660708,AGkWEM3RYUG7hBpP5HaZha
11,최정웅,780326-2859136,성직자,대전광역시 광진구 삼성3거리 (민재김조리),AB-,M,19251021,PaR2LEioCPzYQrSpcF5Ug9
12,김명숙,760227-2457844,정부 및 공공 행정 전문가,부산광역시 강서구 역삼55로 (하은이김리),AB+,F,19430717,apxtxyTnLmwhTXS7PtrWT3
13,최춘자,470207-2964367,주차 관리원 및 안내원,인천광역시 남구 오금길,O-,F,19691111,mtg7aEFweDPoQbXqAk89ND
14,박경희,980928-2628812,경기감독 및 코치,경기도 예산군 학동거리 (민수나동),A-,F,19460207,DJQg5cfVS2rzAFGq6R7AM4

In [15]:
# 유효성 검사

assert not df.empty, "DataFrame이 비어있습니다"
assert set(
    ["name", "ssn", "job", "residence", "blood_group", "sex", "birthdate"]
).issubset(df.columns), " 필드가 누락되었습니다"
assert (
    df["birthdate"].str.match(r"\d{8}").all()
), "birthdate 필드가 YYYYMMDD 형식이 아닙니다"
assert (
    df["uuid"].apply(lambda x: isinstance(x, str)).all()
), "uuid 필드가 문자열이 아닙니다."

print("모든 필드가 올바르게 생성되었습니다")

모든 필드가 올바르게 생성되었습니다

### 모듈을 통한 데이터 이행 및 데이터 가공

#### 1) 데이터 가공
- pandas를 통해 Data Mart 형태의 테이블로 가공
    1. 거주하는 도시 통계 -> 'residence' 전처리 및 컬럼 생성
    2. 혈액형 통계 -> 'blood_group' 전처리 및 컬럼 생성
    3. 남녀 통계 -> 'sex' 컬럼 사용
    4. 나이대 통계  -> 'birthdate' 전처리 및 컬럼 생성

In [15]:
df = create_fakedataframe(10)
df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid
0,권동현,390800-1082061,관세사,전라북도 영월군 오금가,B-,M,19380105,UWvW2VeWNfntVShkLanoYv
1,이정남,080100-2269889,사진인화 및 현상기 조작원,부산광역시 도봉구 오금41거리,B-,M,19570624,UjEroN68cEyhkoz6DPJYZU
2,김정자,950829-1532080,음료 제조관련 기계 조작원,대구광역시 마포구 테헤란길,A-,F,20150111,4JQXwSuMXp3ceEbqNRVWm8
3,송민서,720817-1425879,대학 교수,충청남도 횡성군 압구정2거리 (준호김안동),B-,F,19521111,QWUvoU9K6XadwZwQQMf2qP
4,박지우,900228-2198844,가축 사육 종사원,충청남도 고양시 서초중앙12거리,O+,F,20180401,GXVF2vonUJMFg5iLmdr4dq
5,최예진,430623-1285428,재봉사,경기도 군포시 서초대33로 (상현이마을),AB+,F,19940918,Rf6x5yrw7Du8CuNNGJYmqe
6,이우진,840804-1340127,연구 관리자,인천광역시 은평구 언주762로,O-,M,20040126,cVqdewqjgvTUBu8fSFXhcg
7,김시우,700404-1033567,운송장비 조립원,대전광역시 강남구 봉은사31거리,B+,M,20100314,DC8WwaHUF2TWRBiYip3ntu
8,김영호,800606-2677035,금속가공관련 제어장치 조작원,세종특별자치시 중구 테헤란거리 (상호김김리),A-,M,20060716,Xh2gHx4s7pYLFhNoYEzDSz
9,권지훈,230822-2042290,기타 건설/전기 및 생산 관련 관리자,광주광역시 종로구 압구정로,A+,M,19090713,Y4gSFBCHoGbz5vTprU2rog

In [62]:
# 도시 컬럼
df["city"] = df["residence"].str.split().str[0]
df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid,city
0,이경수,260118-1253280,금형원,서울특별시 강동구 양재천거리,AB-,M,19810914,8tiSpyK2tbg6ASwwmZiVY4,서울특별시
1,강민재,110403-1371547,자동조립라인 및 산업용 로봇 조작원,제주특별자치도 서산시 학동67가,O+,M,19230907,hmBgae6QXw2UqxZfRxe6NF,제주특별자치도
2,강준서,200729-2472794,건축가 및 건축공학 기술자,충청남도 용인시 처인구 석촌호수길 (영미주동),O-,M,19101216,2YvsNway6Rq4qcSpYw3sFr,충청남도
3,김영환,360017-2135696,대학 교육조교,부산광역시 중랑구 석촌호수499로,AB+,M,19860919,SALH7kHGbC7vJtF5H4vjPx,부산광역시
4,최지후,780016-1530879,기타 이미용/예식 및 의료보조 서비스 종사원,부산광역시 금천구 가락70가 (지후이김읍),O-,M,19811105,8hHiRYdTSo2JW9VngdUZeN,부산광역시
5,김미정,290515-1545042,자재관리 사무원,대구광역시 광진구 가락길,A+,F,19170223,iGCaQNHxWA4oxGg4Wfr2Vn,대구광역시
6,김영숙,670021-2370931,영관급 이상,세종특별자치시 북구 도산대12길,AB+,F,20191007,MFJkSqMEkkhqDjNghTqcHe,세종특별자치시
7,김순옥,140819-1825354,기타 경호 및 보안 관련 종사원,제주특별자치도 양주시 반포대59거리 (상철김박리),O-,F,20030814,TJA2Jo4ACNpJnQSbk55PtE,제주특별자치도
8,진민석,030313-2422265,학습지 및 방문 교사,전라남도 단양군 개포가,B+,M,19891117,aavEtj5AUyrh4QZh24XT7k,전라남도
9,윤지후,980808-1572864,제품 디자이너,충청남도 부여군 양재천7길 (은서윤면),O-,M,19501009,n6BHFHfEseeFmBgpzsTj5j,충청남도

In [45]:
today = pd.to_datetime("today")
today

Timestamp('2024-10-29 13:20:51.337298')

In [46]:
df["birthdate"] = pd.to_datetime(df["birthdate"], format="%Y%m%d")

In [49]:
# 나이 컬럼

from datetime import datetime

today = datetime.today()

# `df["birthdate"]` 대신 `.dt.year`, `.dt.month`, `.dt.day`로 접근
df["age"] = (
    today.year
    - df["birthdate"].dt.year
    - (
        (today.month < df["birthdate"].dt.month)
        | (
            (today.month == df["birthdate"].dt.month)
            & (today.day < df["birthdate"].dt.day)
        )
    )
).astype(int)

df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid,city,age
0,서도윤,590414-1824057,치과기공사,서울특별시 북구 석촌호수길,O+,M,1946-03-02,4kXbg7qkaB7mpKyFgmjadS,서울특별시,78
1,김예진,190200-2496585,제분 및 도정 관련 기계 조작원,서울특별시 강동구 선릉로 (영미최최리),O+,F,1982-03-03,Yhctv5gy5AiCTg7fR9epxo,서울특별시,42
2,김상호,790101-2546083,전문 의사,울산광역시 노원구 가락3가 (서영남읍),AB+,M,2009-08-23,o5z5PV6S4pHGFehtnDYH5p,울산광역시,15
3,송명자,010225-1289606,철도 및 전동차 기관사,광주광역시 광진구 압구정39길 (병철안안동),AB-,F,1970-11-16,YLtjyUkCPjJJ3RUBn6PoaT,광주광역시,53
4,박병철,080506-2013892,직조기 및 편직기 조작원,경상남도 용인시 기흥구 가락로,A+,M,1950-06-12,B6jJ8kLdNTfLhAvqWnsQfw,경상남도,74
5,손재현,270108-1824846,기자 및 논설위원,부산광역시 종로구 역삼8가,O-,M,2011-11-02,eXDhRAosbzDZwHqZRSB2Qf,부산광역시,12
6,권영미,240025-1626935,제화원,서울특별시 종로구 테헤란2거리 (영호김남마을),B+,F,1970-03-18,NrxX2oYS9yvnrcBQa4428L,서울특별시,54
7,신민준,540006-2215206,임상병리사,대구광역시 용산구 선릉11가,O+,M,2018-02-27,hF2L7MwJHGJXC6L88RLmUo,대구광역시,6
8,류영일,360726-2908320,방사선사,충청북도 음성군 테헤란012로,O-,M,1961-05-23,c6PCHV5twkT7AAPTgfMXyw,충청북도,63
9,류정남,100226-2846934,여행상품 개발자,전라남도 수원시 언주길,A+,M,1973-12-02,53y5rs7ZyigGWBhCe5iCcD,전라남도,50

In [16]:
df["age"] = 2024 - df["birthdate"].str[:4].astype(int)
df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid,age
0,권동현,390800-1082061,관세사,전라북도 영월군 오금가,B-,M,19380105,UWvW2VeWNfntVShkLanoYv,86
1,이정남,080100-2269889,사진인화 및 현상기 조작원,부산광역시 도봉구 오금41거리,B-,M,19570624,UjEroN68cEyhkoz6DPJYZU,67
2,김정자,950829-1532080,음료 제조관련 기계 조작원,대구광역시 마포구 테헤란길,A-,F,20150111,4JQXwSuMXp3ceEbqNRVWm8,9
3,송민서,720817-1425879,대학 교수,충청남도 횡성군 압구정2거리 (준호김안동),B-,F,19521111,QWUvoU9K6XadwZwQQMf2qP,72
4,박지우,900228-2198844,가축 사육 종사원,충청남도 고양시 서초중앙12거리,O+,F,20180401,GXVF2vonUJMFg5iLmdr4dq,6
5,최예진,430623-1285428,재봉사,경기도 군포시 서초대33로 (상현이마을),AB+,F,19940918,Rf6x5yrw7Du8CuNNGJYmqe,30
6,이우진,840804-1340127,연구 관리자,인천광역시 은평구 언주762로,O-,M,20040126,cVqdewqjgvTUBu8fSFXhcg,20
7,김시우,700404-1033567,운송장비 조립원,대전광역시 강남구 봉은사31거리,B+,M,20100314,DC8WwaHUF2TWRBiYip3ntu,14
8,김영호,800606-2677035,금속가공관련 제어장치 조작원,세종특별자치시 중구 테헤란거리 (상호김김리),A-,M,20060716,Xh2gHx4s7pYLFhNoYEzDSz,18
9,권지훈,230822-2042290,기타 건설/전기 및 생산 관련 관리자,광주광역시 종로구 압구정로,A+,M,19090713,Y4gSFBCHoGbz5vTprU2rog,115

In [65]:
df["blood"] = df["blood_group"].str[:1]
df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid,city,age,blood
0,이경수,260118-1253280,금형원,서울특별시 강동구 양재천거리,AB-,M,19810914,8tiSpyK2tbg6ASwwmZiVY4,서울특별시,43,A
1,강민재,110403-1371547,자동조립라인 및 산업용 로봇 조작원,제주특별자치도 서산시 학동67가,O+,M,19230907,hmBgae6QXw2UqxZfRxe6NF,제주특별자치도,101,O
2,강준서,200729-2472794,건축가 및 건축공학 기술자,충청남도 용인시 처인구 석촌호수길 (영미주동),O-,M,19101216,2YvsNway6Rq4qcSpYw3sFr,충청남도,114,O
3,김영환,360017-2135696,대학 교육조교,부산광역시 중랑구 석촌호수499로,AB+,M,19860919,SALH7kHGbC7vJtF5H4vjPx,부산광역시,38,A
4,최지후,780016-1530879,기타 이미용/예식 및 의료보조 서비스 종사원,부산광역시 금천구 가락70가 (지후이김읍),O-,M,19811105,8hHiRYdTSo2JW9VngdUZeN,부산광역시,43,O
5,김미정,290515-1545042,자재관리 사무원,대구광역시 광진구 가락길,A+,F,19170223,iGCaQNHxWA4oxGg4Wfr2Vn,대구광역시,107,A
6,김영숙,670021-2370931,영관급 이상,세종특별자치시 북구 도산대12길,AB+,F,20191007,MFJkSqMEkkhqDjNghTqcHe,세종특별자치시,5,A
7,김순옥,140819-1825354,기타 경호 및 보안 관련 종사원,제주특별자치도 양주시 반포대59거리 (상철김박리),O-,F,20030814,TJA2Jo4ACNpJnQSbk55PtE,제주특별자치도,21,O
8,진민석,030313-2422265,학습지 및 방문 교사,전라남도 단양군 개포가,B+,M,19891117,aavEtj5AUyrh4QZh24XT7k,전라남도,35,B
9,윤지후,980808-1572864,제품 디자이너,충청남도 부여군 양재천7길 (은서윤면),O-,M,19501009,n6BHFHfEseeFmBgpzsTj5j,충청남도,74,O

In [66]:
def categorize_age(age: int):
    if age >= 90:
        return "90대 이상"

    else:
        return str(age // 10 * 10) + "대"

In [67]:
df["age_category"] = df["age"].apply(categorize_age)
df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid,city,age,blood,age_category
0,이경수,260118-1253280,금형원,서울특별시 강동구 양재천거리,AB-,M,19810914,8tiSpyK2tbg6ASwwmZiVY4,서울특별시,43,A,40대
1,강민재,110403-1371547,자동조립라인 및 산업용 로봇 조작원,제주특별자치도 서산시 학동67가,O+,M,19230907,hmBgae6QXw2UqxZfRxe6NF,제주특별자치도,101,O,90대 이상
2,강준서,200729-2472794,건축가 및 건축공학 기술자,충청남도 용인시 처인구 석촌호수길 (영미주동),O-,M,19101216,2YvsNway6Rq4qcSpYw3sFr,충청남도,114,O,90대 이상
3,김영환,360017-2135696,대학 교육조교,부산광역시 중랑구 석촌호수499로,AB+,M,19860919,SALH7kHGbC7vJtF5H4vjPx,부산광역시,38,A,30대
4,최지후,780016-1530879,기타 이미용/예식 및 의료보조 서비스 종사원,부산광역시 금천구 가락70가 (지후이김읍),O-,M,19811105,8hHiRYdTSo2JW9VngdUZeN,부산광역시,43,O,40대
5,김미정,290515-1545042,자재관리 사무원,대구광역시 광진구 가락길,A+,F,19170223,iGCaQNHxWA4oxGg4Wfr2Vn,대구광역시,107,A,90대 이상
6,김영숙,670021-2370931,영관급 이상,세종특별자치시 북구 도산대12길,AB+,F,20191007,MFJkSqMEkkhqDjNghTqcHe,세종특별자치시,5,A,0대
7,김순옥,140819-1825354,기타 경호 및 보안 관련 종사원,제주특별자치도 양주시 반포대59거리 (상철김박리),O-,F,20030814,TJA2Jo4ACNpJnQSbk55PtE,제주특별자치도,21,O,20대
8,진민석,030313-2422265,학습지 및 방문 교사,전라남도 단양군 개포가,B+,M,19891117,aavEtj5AUyrh4QZh24XT7k,전라남도,35,B,30대
9,윤지후,980808-1572864,제품 디자이너,충청남도 부여군 양재천7길 (은서윤면),O-,M,19501009,n6BHFHfEseeFmBgpzsTj5j,충청남도,74,O,70대

In [68]:
df_list = [
    "uuid",
    "name",
    "job",
    "sex",
    "blood",
    "city",
    "birthdate",
    "age",
    "age_category",
]
df_datamart = df[df_list]
df_datamart.head()

,uuid,name,job,sex,blood,city,birthdate,age,age_category
0,8tiSpyK2tbg6ASwwmZiVY4,이경수,금형원,M,A,서울특별시,19810914,43,40대
1,hmBgae6QXw2UqxZfRxe6NF,강민재,자동조립라인 및 산업용 로봇 조작원,M,O,제주특별자치도,19230907,101,90대 이상
2,2YvsNway6Rq4qcSpYw3sFr,강준서,건축가 및 건축공학 기술자,M,O,충청남도,19101216,114,90대 이상
3,SALH7kHGbC7vJtF5H4vjPx,김영환,대학 교육조교,M,A,부산광역시,19860919,38,30대
4,8hHiRYdTSo2JW9VngdUZeN,최지후,기타 이미용/예식 및 의료보조 서비스 종사원,M,O,부산광역시,19811105,43,40대

In [75]:
((df["age"] // 10) * 10).astype(str) + "대"

0     40대
1    100대
2    110대
3     30대
4     40대
5    100대
6      0대
7     20대
8     30대
9     70대
Name: age, dtype: object

In [77]:
import pandas as pd


def create_fakedataframe(df: pd.DataFrame) -> pd.DataFrame:

    # 도시 컬럼
    df["city"] = df["residence"].str.split().str[0]
    # 생년월일 컬럼
    df["birthdate"]
    # 나이 컬럼
    df["age"] = 2024 - df["birthdate"].str[:4].astype(int)
    # 혈액형 컬럼
    df["blood"] = df["blood_group"].str[:1]
    # 나이대 컬럼
    if df["age"] >= 90:
        df["age_category"] = "90대 이상"
    else:
        df["age_category"] = ((df["age"] // 10) * 10).astype(str) + "대"

    column_list = [
        "uuid",
        "name",
        "job",
        "sex",
        "blood",
        "city",
        "birthdate",
        "age",
        "age_category",
    ]
    df_datamart = df[column_list]
    return df_datamart

In [2]:
print(_df.columns)

RangeIndex(start=0, stop=1, step=1)

In [7]:
from fakedata.process import create_fakedatamart
from fakedata.create import create_fakedataframe

_df = create_fakedataframe(10)
#

In [2]:
_df

,name,ssn,job,residence,blood_group,sex,birthdate,uuid
0,권정식,050118-1745683,웹 및 멀티미디어 디자이너,제주특별자치도 홍성군 백제고분길,A+,M,19420919,hdV9pxiqBMHSLYXaU8vSn5
1,윤성민,910713-2854197,철로 설치 및 보수원,대전광역시 금천구 테헤란25가,B+,M,19420721,AUiqzt6bRnvV6anYM7KADk
2,황숙자,600920-1879136,감사 사무원,광주광역시 서초구 서초대06거리,B+,F,19510523,gQEPJMGg6wwtF8zEyFkSyv
3,김재현,880411-1456620,기타 제조관련 기계 조작원,경상북도 고양시 일산동구 학동8로,A+,M,19330311,UxgFamzL2ga6dsgZZdztSQ
4,김수민,780127-2377697,공업 배관공,충청북도 양평군 강남대98거리 (미경김박읍),O-,F,19790530,mc8SdJhiKA7Rqx9Wmrob8u
5,이영진,830015-2010469,약사 및 한약사,경상북도 영월군 가락거리,A-,M,19580720,DtpQuXeZKbGnvKH5Ri2wSN
6,이종수,670219-1655740,기타 판매 및 고객 서비스 관리자,충청북도 과천시 논현6거리,A-,M,19370711,WaZFcprZytkei8GYtBokca
7,서상철,010626-1367805,아나운서 및 리포터,제주특별자치도 부천시 원미구 삼성2가 (정웅권읍),A+,M,19391021,CGNATcx9v7kwZdC2bViD5F
8,김정훈,080410-2295420,결혼 상담원 및 웨딩플래너,대구광역시 광진구 서초대거리,O+,M,19520916,AH9hpWwvbqSakayqAANTCR
9,주현우,650008-2869653,건축 석공,울산광역시 노원구 개포가 (옥순이노동),AB+,M,19791026,Miw9RSeTRz6oyRmJZ9Bvny

In [12]:
df = create_fakedatamart(_df)

In [13]:
df

,uuid,name,job,sex,blood,city,birthdate,age,age_category
0,4z6YGw9PfzhtzsunKFazQH,문상현,기타 스포츠 및 레크레이션 관련 전문가,M,A,전라남도,19540122,70,70대
1,Jh3dEm2S5Yfruv6u49XFu2,김준혁,주조원,M,B,울산광역시,19660116,58,50대
2,YHvjkhPJ5b8oCGeEk4jDg8,김진우,기타 건설/전기 및 생산 관련 관리자,M,O,대구광역시,19230125,101,90대 이상
3,Jic6jZCCC4v67RFjcxNsbN,김정훈,인사 및 노사 관련 전문가,M,A,전라북도,19351016,89,80대
4,DXp7C5BZKd3iR36TK7yrfr,양보람,도금 및 금속분무기 조작원,F,O,경상남도,19550701,69,60대
5,WwVERsR2KqBj6saeDd6TnE,윤영미,기타 석유 및 화학물 가공장치 조작원,F,A,부산광역시,20090927,15,10대
6,WcLFuNb6MxbgwLtDKEpsyT,장준혁,조명기사 및 영사기사,M,A,경상북도,19400403,84,80대
7,XB5djpXYFfuFBVjontE9fK,김수진,자연과학 시험원,F,A,제주특별자치도,19350930,89,80대
8,WKb86pirCmJSXSL48bdk2y,정은영,생명과학 연구원,F,O,세종특별자치시,20051219,19,10대
9,KLMeWwdY7FWcxR7E3w9euJ,이영길,바텐더,M,A,충청남도,19550718,69,60대

In [ ]:
df.groupby("sex").size).reset_index(name = "count")

### 3. main.py에 반영
- 특정 간격(3처, 5초 등 ) 기준으로 fake data가 insert 될 수 있도록 설정

---

### 시각화 코드 작성(stramlit)

In [1]:
import streamlit as st
import pandas as pd
import altair as alt

# Streamlit 앱 설정
st.title("사용자 데이터 시각화 대시보드")
st.sidebar.title("필터")

# 데이터 
data = {
    "age_category": ["10대", "20대", "30대", "10대", "10대", "20대", "40대", "50대", "20대", "10대"],
    "sex": ["M", "F", "M", "M", "M", "F", "M", "F", "M", "M"],
    "city": ["서울", "부산", "서울", "대구", "대구", "서울", "인천", "인천", "울산", "서울"]
}

df = pd.DataFrame(data)

# 나이대 필터
age_category = st.sidebar.multiselect("나이대 선택", df["age_category"].unique(), default=df["age_category"].unique())
filtered_data = df[df["age_category"].isin(age_category)]

# 1. 나이대별 인원수 시각화
age_chart = (
    alt.Chart(filtered_data)
    .mark_bar()
    .encode(
        x=alt.X("age_category", sort='-y', title="나이대"),
        y=alt.Y("count()", title="인원수"),
        color="age_category"
    )
    .properties(title="나이대별 인원 분포")
)

# 2. 성별 인원수 시각화
gender_chart = (
    alt.Chart(filtered_data)
    .mark_bar()
    .encode(
        x=alt.X("sex", title="성별"),
        y=alt.Y("count()", title="인원수"),
        color="sex"
    )
    .properties(title="성별 인원 분포")
)

# 3. 지역별 인원수 시각화
region_chart = (
    alt.Chart(filtered_data)
    .mark_bar()
    .encode(
        x=alt.X("city", sort='-y', title="지역"),
        y=alt.Y("count()", title="인원수"),
        color="city"
    )
    .properties(title="지역별 인원 분포")
)

# Streamlit에 차트 표시
st.altair_chart(age_chart, use_container_width=True)
st.altair_chart(gender_chart, use_container_width=True)
st.altair_chart(region_chart, use_container_width=True)

2024-10-29 15:35:01.326 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.497
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\user\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-10-29 15:35:01.498 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.498 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.499 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.500 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.501 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.502 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.503 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.503 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.530 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.530 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.533 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.533 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.536 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-29 15:35:01.536 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [23]:
!pip install --upgrade pyarrow

Requirement already satisfied: pyarrow in c:\users\user\anaconda3\lib\site-packages (14.0.2)
Collecting pyarrow
  Downloading pyarrow-18.0.0-cp312-cp312-win_amd64.whl.metadata (3.4 kB)
Downloading pyarrow-18.0.0-cp312-cp312-win_amd64.whl (25.1 MB)
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   ---------------------------------------- 0.1/25.1 MB 1.1 MB/s eta 0:00:23
   ---------------------------------------- 0.3/25.1 MB 2.4 MB/s eta 0:00:11
   --- ------------------------------------ 2.4/25.1 MB 15.1 MB/s eta 0:00:02
   ----- ---------------------------------- 3.6/25.1 MB 16.4 MB/s eta 0:00:02
   -------- ------------------------------- 5.3/25.1 MB 24.2 MB/s eta 0:00:01
   -------- ------------------------------- 5.4/25.1 MB 18.2 MB/s eta 0:00:02
   -------- ------------------------------- 5.5/25.1 MB 16.0 MB/s eta 0:00:02
   -------- ------------------------------- 5.6/25.1 MB 14.2 MB/s eta 0:00:02
   --------- ------------------------------ 5.8/25.1 MB 13.1 MB/s eta 0:00:02
   --------- ------------------------------ 6.1/25.1 MB 12.5 MB/s eta 0:00:02
   ----------- ---------------------------- 7.1/25.1 MB 13.4 MB/s eta 0:00:02
   ------------------- -------------------- 12.3/25.1 MB 23.4 MB/s eta 0:00:01
   -------------------------- ------------- 16.8/25.1 MB 108.8 MB/s eta 0:00:01
   -------------------------- ------------- 16.9/25.1 MB 93.0 MB/s eta 0:00:01
   --------------------------- ------------ 17.0/25.1 MB 54.4 MB/s eta 0:00:01
   --------------------------- ------------ 17.2/25.1 MB 46.7 MB/s eta 0:00:01
   --------------------------- ------------ 17.4/25.1 MB 38.5 MB/s eta 0:00:01
   ----------------------------- ---------- 18.6/25.1 MB 32.8 MB/s eta 0:00:01
   ------------------------------------ --- 23.0/25.1 MB 32.8 MB/s eta 0:00:01
   ------------------------------------ --- 23.2/25.1 MB 29.7 MB/s eta 0:00:01
   ------------------------------------- -- 23.3/25.1 MB 26.2 MB/s eta 0:00:01
   ------------------------------------- -- 23.3/25.1 MB 22.6 MB/s eta 0:00:01
   ------------------------------------- -- 23.4/25.1 MB 20.5 MB/s eta 0:00:01
   ------------------------------------- -- 23.6/25.1 MB 19.3 MB/s eta 0:00:01
   -------------------------------------- - 23.9/25.1 MB 17.2 MB/s eta 0:00:01
   -------------------------------------- - 24.4/25.1 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 16.0 MB/s eta 0:00:01
   ---------------------------------------- 25.1/25.1 MB 14.9 MB/s eta 0:00:00
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 14.0.2
    Uninstalling pyarrow-14.0.2:
      Successfully uninstalled pyarrow-14.0.2
Successfully installed pyarrow-17.0.0

In [21]:
!pip install --upgrade streamlit altair

Requirement already satisfied: streamlit in c:\users\user\anaconda3\lib\site-packages (1.32.0)
Collecting streamlit
  Downloading streamlit-1.39.0-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: altair in c:\users\user\anaconda3\lib\site-packages (5.0.1)
Collecting altair
  Downloading altair-5.4.1-py3-none-any.whl.metadata (9.4 kB)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (23.2)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (14.0.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (2.32.2)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (13.3.5)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (3.1.37)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<6,>=2.1.5 in c:\users\user\anaconda3\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\user\anaconda3\lib\site-packages (from altair) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\user\anaconda3\lib\site-packages (from altair) (4.19.2)
Collecting narwhals>=1.5.2 (from altair)
  Downloading narwhals-1.11.1-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\user\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: attrs>=22.2.0 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.10.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda3\lib\site-packages (from jinja2->altair) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\user\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\user\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\user\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\user\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)
Downloading streamlit-1.39.0-py2.py3-none-any.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.7 MB 1.9 MB/s eta 0:00:05
   ------ --------------------------------- 1.3/8.7 MB 16.6 MB/s eta 0:00:01
   ---------------------- ----------------- 4.8/8.7 MB 38.4 MB/s eta 0:00:01
   ---------------------------------------  8.7/8.7 MB 55.6 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 50.8 MB/s eta 0:00:00
Downloading altair-5.4.1-py3-none-any.whl (658 kB)
   ---------------------------------------- 0.0/658.1 kB ? eta -:--:--
   --------------------------------------- 658.1/658.1 kB 40.5 MB/s eta 0:00:00
Downloading narwhals-1.11.1-py3-none-any.whl (195 kB)
   ---------------------------------------- 0.0/195.5 kB ? eta -:--:--
   ---------------------------------------- 195.5/195.5 kB ? eta 0:00:00
Installing collected packages: narwhals, altair, streamlit
  Attempting uninstall: altair
    Found existing installation: altair 5.0.1
    Uninstalling altair-5.0.1:
      Successfully uninstalled altair-5.0.1
  Attempting uninstall: streamlit
    Found existing installation: streamlit 1.32.0
    Uninstalling streamlit-1.32.0:
      Successfully uninstalled streamlit-1.32.0
Successfully installed altair-5.4.1 narwhals-1.11.1 streamlit-1.39.0

---

### 파이썬 팁

#### 클래스 예제

In [8]:
aa = {"aa": 1, "bb": 2}
list(aa.keys())

['aa', 'bb']

In [9]:
queries = __import__("db.pgsql_query", fromlist=[""])
queries.queries

{'lecture': 'SELECT * FROM lecture', 'tbl': 'SELECT * FROM tbl LIMIT 5'}

In [12]:
class cargo:
    def __init__(self, capacity):
        self.cargo = []
        self.capacity = capacity

    def unload(self, port):
        port_list = [p[0] for p in self.cargo]
        if port in port_list:
            unloaded = [i for i in self.cargo if i[0] == port]
            return unloaded
        else:
            return

    def can_depart(self):
        _depart = True if sum([i[1] for i in self.cargo]) < -self.capacity else False
        return _depart

    def load(self, new_cargo):
        self.cargo: list = new_cargo
        pass


if __name__ == "__main__":
    ship = cargo(20)
    ship.load([("NewYork", 1), ("London", 20)])
    print(ship.unload("NewYork"))
    print(ship.cargo)
    print(ship.can_depart())

[('NewYork', 1)]
[('NewYork', 1), ('London', 20)]
False

#### json 가공

In [18]:
import json

aa = [
    {"name": "eggs", "price": 1},
    {"name": "coffee", "price": 9.99},
    {"name": "rice", "price": 4.04},
]
aa

sorted_items = sorted(aa, key=lambda x: (x["price"], x["name"]))
joined_json = ",".join([json.dumps(i) for i in sorted_items])
# joined_json

ret = ",".join([json.dumps(i) for i in sorted_items])
ret

'{"name": "eggs", "price": 1},{"name": "rice", "price": 4.04},{"name": "coffee", "price": 9.99}'

In [17]:
aa

[{'name': 'eggs', 'price': 1},
 {'name': 'coffee', 'price': 9.99},
 {'name': 'rice', 'price': 4.04}]

In [27]:
import json


def sort_by_price_ascending(json_string):
    json_string = eval(json_string)
    sorted_json = sorted(json_string, key=lambda x: (x["price"], x["name"]))
    joined_json = ",".join([json.dumps(i) for i in sorted_json])
    print(str(joined_json))

    final = "[" + joined_json + "]"

    return final.replace(" ", "")

In [28]:
pp = sort_by_price_ascending(
    '[{"name": "eggs","price":1},{"name": "coffee","price":9.99},{"name": "rice","price":4.04}]'
)
pp

{"name": "eggs", "price": 1},{"name": "rice", "price": 4.04},{"name": "coffee", "price": 9.99}

'[{"name":"eggs","price":1},{"name":"rice","price":4.04},{"name":"coffee","price":9.99}]'

In [36]:
import re
from datetime import datetime


def transform_date_format(dates):
    date = [d for d in dates if "/" in d or "-" in d]
    date_list = []
    for date_str in dates:
        if re.match(r"\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])", date_str):
            print(date_str)
            transformed_date = datetime.strptime(date_str, "%Y/%m/%d").strftime(
                "%Y%m%d"
            )
            date_list.append(transformed_date)
        elif re.match(r"(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}", date_str):
            print(date_str)
            transformed_date = datetime.strptime(date_str, "%d/%m/%Y").strftime(
                "%Y%m%d"
            )
            date_list.append(transformed_date)
        elif re.match(r"(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}", date_str):
            print(date_str)
            transformed_date = datetime.strptime(date_str, "%m-%d-%Y").strftime(
                "%Y%m%d"
            )
            date_list.append(transformed_date)
    return date_list


if __name__ == "__main__":
    dates = transform_date_format(
        ["2010/02/20", "09/01/1994", "10-09-1996", "20210221"]
    )
    print(*dates, sep="\n")


# dates = ['2010/02/20', '09/01/1994', '10-09-1996', '20210221']
# sformed_dates = transform_date_format(dates)
# print(sformed_dates)

2010/02/20
09/01/1994
20100220
19940109

In [ ]:
import re
from datetime import datetime


def transform_date_format(dates):
    dates = [d for d in dates if "/" in d or "-" in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []

    for date_str in dates:
        if re.match(r"\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])", date_str):
            date_list.append(datetime.strptime(date_str, "%d/%m/%Y").strftime("%Y%m%d"))
        elif re.match(r"(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}", date_str):
            date_list.append(datetime.strptime(date_str, "%d/%m/%Y").strftime("%Y%m%d"))
        elif re.match(r"(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}", date_str):
            date_list.append(datetime.strptime(date_str, "%d/%m/%Y").strftime("%Y%m%d"))
        else:
            pass

    return date_list


if __name__ == "__main__":
    dates = transform_date_format(
        ["2010/02/20", "09/01/1994", "10-09-1996", "20210221"]
    )
    print(*dates, sep="\n")

In [ ]:
import re
from datetime import datetime


def transform_date_format(dates):
    dates = [d for d in dates if "/" in d or "-" in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []

    for date_str in dates:
        if re.match(r"\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])", date_str):
            transformed_date = datetime.strptime(date_str, "%Y/%m/%d").strftime(
                "%Y/%m/%d"
            )
        elif re.match(r"(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}", date_str):

            transformed_date = datetime.strptime(date_str, "%d/%m/%Y").strftime(
                "%Y/%m/%d"
            )
        elif re.match(r"(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}", date_str):
            transformed_date = datetime.strptime(date_str, "%m/%d/%Y").strftime(
                "%Y/%m/%d"
            )

        date_list.append(transformed_date)


if __name__ == "__main__":
    dates = transform_date_format(
        ["2010/02/20", "09/01/1994", "10-09-1996", "20210221"]
    )
    print(*dates, sep="\n")

In [37]:
import re
from datetime import datetime


def transform_date_format(dates):
    dates = [d for d in dates if "/" in d or "-" in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []
    for date_str in dates:
        if re.match(r"\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])", date_str):
            transformed_date = datetime.strptime(date_str, "%Y/%m/%d").strftime(
                "%Y%m%d"
            )
            date_list.append(transformed_date)
        elif re.match(r"(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}", date_str):
            transformed_date = datetime.strptime(date_str, "%d/%m/%Y").strftime(
                "%Y%m%d"
            )
            date_list.append(transformed_date)
        elif re.match(r"(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}", date_str):
            transformed_date = datetime.strptime(date_str, "%d-%m-%Y").strftime(
                "%Y%m%d"
            )
            date_list.append(transformed_date)
        else:
            pass
    return date_list

---

### 1029

In [ ]:
import time

In [ ]:
def say_hello():
    print("Hi!")
    time.sleep(3)
    print("Goodbye")

In [ ]:
start = time.time()
say_hello()
end = time.time()

end - start

Hi!
Goodbye

3.0008180141448975

In [ ]:
def time_checker(func):
    def wrapper():
        start = time.time()
        func()
        end = time.time()
        print("total time: ", end - start)

    return wrapper

In [ ]:
he = say_hello

In [ ]:
he()  # 함수 자체

Hi!
Goodbye

In [ ]:
he  # 객체 자체

In [ ]:
time_checker(say_hello)()

Hi!
Goodbye
total time:  3.001009225845337

In [ ]:
def time_checker(say_hello):
    def wrapper():
        start = time.time()
        say_hello()
        end = time.time()
        print(f"total time: {end-start}")

    return wrapper

In [ ]:
# 데코레이터@

import time


@time_checker
def say_hello():
    time.sleep(3)
    print("Hello!")


@time_checker
def say_bye():
    time.sleep(3)
    print("Bye!")

In [ ]:
say_hello()

Hello!
total time: 3.0004465579986572

In [ ]:
say_bye()

Bye!
total time: 3.0009560585021973

## class - dataclasses, staticmethod, classmethod

In [ ]:
class TempClass:
    def __init__(self, var1: str, var2: int):
        self.var1 = var1
        self.var2 = var2
        # self.upper_letter()

    def upper_letter(self):
        self.upper_var1 = self.var1.upper()
        print(self.var1.upper())

    def lower_letter(self):
        self.lower_var1 = self.var1.lower()
        print(self.var1.lower())

In [ ]:
tc = TempClass("BANANA", 50)
tc.lower_letter()

banana

In [ ]:
tc.__dict__

{'var1': 'BANANA', 'var2': 50, 'lower_var1': 'banana'}

In [ ]:
from dataclasses import dataclass, field


@dataclass(frozen=True)
class TempClass:
    var1: str
    var2: int
    upper_var1: str = field(init=False)

    def __post_init__(self):
        object.__setattr__(self, "upper_var1", self.var1.upper())

In [ ]:
tc = TempClass(var1="hello", var2=10)

In [ ]:
print(tc.var1)

hello

In [ ]:
print(tc.upper_var1)

HELLO

In [ ]:
try:
    tc.upper_var1 = "ABC"
except Exception as e:
    print(e)

cannot assign to field 'upper_var1'

In [ ]:
class TempClass:
    def __init__(self, var1: str, var2: str):
        self.a = var1
        self.b = var2
        self.upper_letter()

    def upper_letter(self):
        self.upper_var1 = self.a.upper()

    @staticmethod
    def add_int(age: int):
        print(age * 2)

In [ ]:
tc = TempClass("hello", "world")
TempClass.add_int(5)

10

In [ ]:
night = {
    "catalog_name": {
        "index": 1,
        "parallel": 4,
    },
    "schema_name": "lms_cms",
}

In [ ]:
from dataclasses import dataclass


@dataclass
class DataPipeline:
    catalog_name: dict
    schema_name: str

    def __post_init__(self):
        self.index: list[int] = [self.catalog_name["index"]]

    def sample(self):
        print("sample")

In [ ]:
pipeline = DataPipeline(
    catalog_name=night["catalog_name"], schema_name=night["schema_name"]
)

In [ ]:
print("index 속성: ", pipeline.index)

index 속성:  [1]

In [ ]:
pipeline.sample()

sample

In [ ]:
pp = DataPipeline(**night)

In [ ]:
pp.__dict__

{'catalog_name': {'index': 1, 'parallel': 4},
 'schema_name': 'lms_cms',
 'index': [1]}

In [ ]:
getattr(DataPipeline(**night), "sample")()

sample

In [ ]:
DataPipeline(**night).sample()

sample