In [2]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 393.8 kB/s eta 0:00:30
      --------------------------------------- 0.3/11.9 MB 2.2 MB/s eta 0:00:06
     --- ------------------------------------ 0.9/11.9 MB 5.2 MB/s eta 0:00:03
     ----- ---------------------------------- 1.5/11.9 MB 7.0 MB/s eta 0:00:02
     ------- -------------------------------- 2.2/11.9 MB 8.2 MB/s eta 0:00:02
     --------- ------------------------------ 2.8/11.9 MB 9.0 MB/s eta 0:00:01
     ----------- ---------------------------- 3.5/11.9 MB 9.7 MB/s eta 0:00:01
     -------------- ------------------------- 4.2/11.9 MB 10.2 MB/s eta 0:00:01
     ---------------- ----------------------- 4.8/11.9 MB 10.6 MB/s eta 0:00:01
     ------------------ --------------------- 5.5/11.9 MB 10.9 MB/s eta 0:00:01
     -------------------- ------------------- 6.1/11.9 MB 11.1 MB/s eta 0:00:01
     ---------------------- ----------------- 6.7/11.9 MB 11.3 MB/s eta 0:00:01
     ------------------------ --------------- 7.4/11.9 MB 11.5 MB/s eta 0:00:01
     --------------------------- ------------ 8.0/11.9 MB 11.7 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 11.8 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 11.9 MB/s eta 0:00:01
     -------------------------------- ------ 10.0/11.9 MB 12.1 MB/s eta 0:00:01
     ---------------------------------- ---- 10.6/11.9 MB 13.9 MB/s eta 0:00:01
     ------------------------------------ -- 11.2/11.9 MB 13.9 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 13.9 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 12.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=6b11a1ac96958dd284ac8b2632a7246095f52258606acd5ed682461b029b6890
  Stored in directory: c:\users\dongi\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [3]:
import mysql.connector

In [4]:
import mysql.connector

# MariaDB에 접속
conn = mysql.connector.connect(
    host='irt-cat-db.cfsgom2iusui.ap-northeast-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='admin1234',
    database='irt-cat-db'
)
cursor = conn.cursor()

# 테이블 생성 쿼리 실행
cursor.execute('''
CREATE TABLE pre_info (
    student_id INT PRIMARY KEY,
    initial_theta FLOAT
);

CREATE TABLE question_bank (
    question_id SERIAL PRIMARY KEY,
    question_content TEXT,
    difficulty FLOAT,
    discrimination FLOAT,
    guessing FLOAT
);

CREATE TABLE student_responses (
    response_id SERIAL PRIMARY KEY,
    student_id INT,
    question_id INT,
    response INT
);

CREATE TABLE student_theta (
    student_id INT PRIMARY KEY,
    theta_value FLOAT
);

''')
# 추가 테이블 생성 쿼리도 여기서 실행 가능

# 작업 완료 후 연결 종료
cursor.close()
conn.close()

InterfaceError: 2003: Can't connect to MySQL server on 'irt-cat-db.cfsgom2iusui.ap-northeast-2.rds.amazonaws.com:3306' (10060 연결된 구성원으로부터 응답이 없어 연결하지 못했거나, 호스트로부터 응답이 없어 연결이 끊어졌습니다)

In [1]:
import pymysql

def lambda_handler(event, context):
    try:
        conn = pymysql.connect(
            host="54.180.248.114",  # MySQL 서버 IP 주소
            user="root",
            password="1234",            # MySQL 비밀번호
            db="theta_db",
            port=3306,
            connect_timeout=10      # 연결 타임아웃 설정
        )
        # 데이터베이스 작업 수행
        with conn.cursor() as cursor:
            cursor.execute("SELECT VERSION()")
            version = cursor.fetchone()
            print(f"MySQL Version: {version}")
        
        conn.close()
    except pymysql.MySQLError as e:
        print("Error:", e)
        raise

    return {
        'statusCode': 200,
        'body': 'Database connection successful!'
    }